<script context="module">
  import { Client } from "../../../../../model/client"
  import { validateJsonResponse } from "../../../../../model/validators/responses"
  import { language, localize } from "../../../../../stores"

  export async function preload(page /* , session */) {
    const { clientSegment } = page.params
    const response = await this.fetch(
      `api/clients/${encodeURIComponent(clientSegment)}`,
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(
      Client.validateJson,
    )(response)
    if (error != null) {
      return this.error(
        `Error at ${page.path}, while retrieving client: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    return { client: result }
  }
</script>

<script>
  export let client
</script>

<svelte:head>
  <title>{client.name} | {$localize("Clients")} | {$localize("Retruco_Quiz")}</title>
</svelte:head>

<h1>{client.name}</h1>

<a
  href="presentation/{$language}/clients/{encodeURIComponent(client.segment)}/start">
  Start
</a>
