<script context="module">
  import { Client } from "../../../../../model/client"
  import { Survey } from "../../../../../model/survey"
  import {
    validateArray,
    validateNonEmptyTrimmedString,
  } from "../../../../../model/validators/core"
  import { validateJsonResponse } from "../../../../../model/validators/responses"
  import { localize } from "../../../../../stores"

  export async function preload(page /* , session */) {
    const { clientSegment } = page.params

    let client
    {
      const response = await this.fetch(
        `api/clients/${encodeURIComponent(clientSegment)}`,
        {
          credentials: "same-origin",
        },
      )
      const [result, error] = await validateJsonResponse(Client.validateJson)(
        response,
      )
      if (error != null) {
        return this.error(
          `Error at ${page.path}, while retrieving client: ${JSON.stringify(
            error,
            null,
            2,
          )}\n\n${JSON.stringify(result, null, 2)}`,
        )
      }
      client = result
    }

    let surveys
    {
      const response = await this.fetch("api/surveys", {
        credentials: "same-origin",
      })
      const [result, error] = await validateJsonResponse(validateSurveysResult)(
        response,
      )
      if (error != null) {
        return this.error(
          `Error at ${page.path}, while retrieving surveys: ${JSON.stringify(
            error,
            null,
            2,
          )}\n\n${JSON.stringify(result, null, 2)}`,
        )
      }
      surveys = result.surveys
    }

    return { client, surveys }
  }

  function validateSurveysResult(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object got "${typeof data}"`]
    }

    data = { ...data }
    const errors = {}
    const remainingKeys = new Set(Object.keys(data))

    {
      const key = "surveys"
      remainingKeys.delete(key)
      const [value, error] = validateArray(Survey.validateJson)(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected item"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

<script>
  import { goto, stores } from "@sapper/app"
  import { proposedLanguagesAndLabels } from "../../../../../locales"

  export let client
  export let surveys

  let clientToken = null
  let choosenLanguage = null
  const { page /* , preloading, session */ } = stores()
  let surveySegment = null
  let username = null

  async function submit() {
    // eslint-disable-next-line no-undef
    const response = await fetch(
      `api/clients/${encodeURIComponent(client.segment)}/start`,
      {
        body: JSON.stringify(
          {
            clientToken,
            language: choosenLanguage,
            surveySegment,
            username,
          },
          null,
          2,
        ),
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
        method: "POST",
      },
    )

    const [result, error] = await validateJsonResponse(validateStartResult)(
      response,
    )
    if (error !== null) {
      console.error(
        `Error at ${$page.path}, while starting client: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
      return
    }

    const { sessionToken, surveySegment: validSurveySegment } = result
    goto(
      `embed/surveys/${encodeURIComponent(
        validSurveySegment,
      )}/quiz?session=${encodeURIComponent(sessionToken)}`,
    )
  }

  function validateStartResult(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object got "${typeof data}"`]
    }

    data = { ...data }
    const errors = {}
    const remainingKeys = new Set(Object.keys(data))

    for (const key of ["sessionToken", "surveySegment"]) {
      remainingKeys.delete(key)
      const [value, error] = validateNonEmptyTrimmedString(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected item"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

<svelte:head>
  <title
    >Start | {client.name} | {$localize("Clients")} |
    {$localize("Retruco_Quiz")}</title
  >
</svelte:head>

<h1>{client.name}</h1>

<form on:submit|preventDefault="{submit}">
  <div>
    <label for="clientToken">Client token</label>
    <input bind:value="{clientToken}" id="clientToken" required type="text" />
  </div>
  <div>
    <label for="username">Username</label>
    <input bind:value="{username}" id="username" required type="text" />
  </div>
  <div>
    <label for="surveySegment">Survey</label>
    <select bind:value="{surveySegment}" id="surveySegment" required>
      {#if surveySegment === null}
      <option value="{null}">Select survey</option>
      {/if} {#each surveys as survey}
      <option value="{survey.segment}">{survey.name}</option>
      {/each}
    </select>
  </div>
  <div>
    <label for="language">Language</label>
    <select bind:value="{choosenLanguage}" id="language" required>
      {#if choosenLanguage === null}
      <option value="{null}">Select language</option>
      {/if} {#each proposedLanguagesAndLabels as [proposedLanguage,
      proposedLanguageName]}
      <option value="{proposedLanguage}">{proposedLanguageName}</option>
      {/each}
    </select>
  </div>
  <div>
    <button type="submit">Start</button>
  </div>
</form>
