<script context="module">
  import { acceptedLanguages } from "../../../locales"
  import { Survey } from "../../../model/survey"
  import { validateArray, validateChoice } from "../../../model/validators/core"
  import { validateJsonResponse } from "../../../model/validators/responses"
  import { language, localize } from "../../../stores"

  export async function preload(page /* , session */) {
    const { session: sessionToken } = page.query
    if (!sessionToken) {
      return this.error(
        400,
        `Error at ${page.path}: Session token missing from URL query`,
      )
    }

    let currentLanguage
    {
      const response = await this.fetch("api/language", {
        body: JSON.stringify(
          {
            sessionToken,
          },
          null,
          2,
        ),
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json; charset=utf-8",
        },
        method: "POST",
      })

      const [result, error] = await validateJsonResponse(
        validateLanguageResult,
      )(response)
      if (error != null) {
        return this.error(
          `Error at ${page.path}, while retrieving language: ${JSON.stringify(
            error,
            null,
            2,
          )}\n\n${JSON.stringify(result, null, 2)}`,
        )
      }

      currentLanguage = result.language
      language.set(currentLanguage)
    }

    const response = await this.fetch("api/surveys", {
      body: JSON.stringify(
        {
          sessionToken,
        },
        null,
        2,
      ),
      credentials: "same-origin",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      method: "POST",
    })
    const [result, error] = await validateJsonResponse(validateSurveysResult)(
      response,
    )
    if (error != null) {
      return this.error(
        `Error at ${page.path}, while retrieving user's main surveys: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }

    return { currentLanguage, sessionToken, surveys: result.surveys }
  }

  function validateLanguageResult(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object got "${typeof data}"`]
    }

    data = { ...data }
    const errors = {}
    const remainingKeys = new Set(Object.keys(data))

    {
      const key = "language"
      remainingKeys.delete(key)
      const [value, error] = validateChoice(acceptedLanguages)(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected item"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }

  function validateSurveysResult(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object got "${typeof data}"`]
    }

    data = { ...data }
    const errors = {}
    const remainingKeys = new Set(Object.keys(data))

    {
      const key = "surveys"
      remainingKeys.delete(key)
      const [value, error] = validateArray(Survey.validateJson)(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected item"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

<script>
  export let currentLanguage
  export let sessionToken
  export let surveys

  $: $language = currentLanguage
</script>

<svelte:head>
  <title>{$localize("User_Surveys")} | {$localize("Retruco_Quiz")}</title>
</svelte:head>

<h1>{$localize("User_Surveys")}</h1>

{#if surveys}
<ul>
  {#each surveys as survey}
  <li>
    <a
      href="embed/surveys/{survey.segment}?session={encodeURIComponent(sessionToken)}"
      rel="prefetch"
    >
      {survey.name}
    </a>
  </li>
  {/each}
</ul>
{/if}
