<script context="module">
  import { acceptedLanguages } from "../../../../locales"
  import { Question } from "../../../../model/question"
  import { Survey } from "../../../../model/survey"
  import {
    validateChoice,
    validateEmpty,
    validateMissing,
    validateNumber,
    validateOption,
  } from "../../../../model/validators/core"
  import { validateJsonResponse } from "../../../../model/validators/responses"
  import { language, localize } from "../../../../stores"

  async function currentQuestion(fetch, surveySegment, sessionToken) {
    const response = await fetch("api/questions/current", {
      body: JSON.stringify(
        {
          sessionToken,
          surveySegment,
        },
        null,
        2,
      ),
      credentials: "same-origin",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      method: "POST",
    })
    return await validateJsonResponse(validateCurrentQuestionResult)(response)
  }

  export async function preload(page /* , session */) {
    const { surveySegment } = page.params
    const { session: sessionToken } = page.query
    if (!sessionToken) {
      return this.error(
        400,
        `Error at ${page.path}: Session token missing from URL query`,
      )
    }

    const [result, error] = await currentQuestion(this.fetch, surveySegment, sessionToken)
    if (error != null) {
      return this.error(
        `Error at ${
          page.path
        }, while retrieving current question: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    const {
      answer,
      askedQuestionId,
      language: currentLanguage,
      question,
      survey,
    } = result
    language.set(currentLanguage)
    const value = answer === null ? null : answer.value
    return {
      answer,
      askedQuestionId,
      currentLanguage,
      question,
      sessionToken,
      survey,
      value,
    }
  }

  function validateCurrentQuestionResult(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object got "${typeof data}"`]
    }

    data = { ...data }
    const errors = {}
    const remainingKeys = new Set(Object.keys(data))

    {
      const key = "askedQuestionId"
      remainingKeys.delete(key)
      const [value, error] = validateOption(validateEmpty, validateNumber)(
        data[key],
      )
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    {
      const key = "language"
      remainingKeys.delete(key)
      const [value, error] = validateChoice(acceptedLanguages)(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    {
      remainingKeys.delete("question")
      const [question, questionError] = validateOption(
        validateMissing,
        Question.validateJson,
      )(data.question)
      data.question = question
      if (questionError === null) {
        const key = "answer"
        remainingKeys.delete(key)
        const [value, error] = (question === null
          ? validateMissing
          : validateOption(
              validateMissing,
              question.validateAnswerJson.bind(question),
            ))(data[key])
        data[key] = value
        if (error !== null) {
          errors[key] = error
        }
      } else {
        errors.question = questionError
      }
    }

    {
      const key = "survey"
      remainingKeys.delete(key)
      const [value, error] = validateOption(
        validateMissing,
        Survey.validateJson,
      )(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected item"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

<script>
  import { stores } from "@sapper/app"
  import widgetBySymbol from "../../../../components/widgets"

  export let answer = null
  export let askedQuestionId = null
  export let currentLanguage = null
  export let question = null
  export let sessionToken = null
  export let survey = null
  export let value = null

  const { page /* , preloading, session */ } = stores()
  const { surveySegment } = $page.params

  $: $language = currentLanguage

  $: widget =
    question === null ? null : widgetBySymbol[question.constructor.widgetSymbol]
  // $: {
  //   console.log(question.constructor.name)
  //   console.log(question)
  //   console.log(widget)
  // }

  async function replaceQuestionState({ detail: state }) {
    // eslint-disable-next-line no-undef
    const response = await fetch("api/questions/replace_question_state", {
      body: JSON.stringify(
        {
          askedQuestionId,
          sessionToken,
          surveySegment,
          state,
        },
        null,
        2,
      ),
      credentials: "same-origin",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      method: "POST",
    })
    await validateJsonResponse(null)(response)

    {
      // eslint-disable-next-line no-undef
      const [result, error] = await currentQuestion(fetch, surveySegment, sessionToken)
      if (error !== null) {
        console.error(
          `Error at ${
            $page.path
          }, while retrieving current question (after replace): ${JSON.stringify(
            error,
            null,
            2,
          )}\n\n${JSON.stringify(result, null, 2)}`,
        )
        return
      }
      ({
        answer,
        askedQuestionId,
        language: currentLanguage,
        question,
        survey,
      } = result)
      value = answer === null ? null : answer.value
    }
  }

  async function skipQuestion() {
    // eslint-disable-next-line no-undef
    const response = await fetch("api/questions/skip", {
      body: JSON.stringify(
        {
          askedQuestionId,
          sessionToken,
          surveySegment,
        },
        null,
        2,
      ),
      credentials: "same-origin",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      method: "POST",
    })
    {
      const [result, error] = await validateJsonResponse(null)(response)
      if (error !== null) {
        console.error(
          `Error at ${$page.path}, while skipping question: ${JSON.stringify(
            error,
            null,
            2,
          )}\n\n${JSON.stringify(result, null, 2)}`,
        )
        return
      }
    }

    {
      // eslint-disable-next-line no-undef
      const [result, error] = await currentQuestion(fetch, surveySegment, sessionToken)
      if (error !== null) {
        console.error(
          `Error at ${
            $page.path
          }, while retrieving current question (after skip): ${JSON.stringify(
            error,
            null,
            2,
          )}\n\n${JSON.stringify(result, null, 2)}`,
        )
        return
      }
      ({
        answer,
        askedQuestionId,
        language: currentLanguage,
        question,
        survey,
      } = result)
      value = answer === null ? null : answer.value
    }
  }

  async function submitAnswer({ detail: value }) {
    // eslint-disable-next-line no-undef
    const response = await fetch("api/questions/answer", {
      body: JSON.stringify(
        {
          askedQuestionId,
          sessionToken,
          surveySegment,
          value,
        },
        null,
        2,
      ),
      credentials: "same-origin",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      method: "POST",
    })
    {
      const [result, error] = await validateJsonResponse(null)(response)
      if (error !== null) {
        console.error(
          `Error at ${$page.path}, while submitting answer: ${JSON.stringify(
            error,
            null,
            2,
          )}\n\n${JSON.stringify(result, null, 2)}`,
        )
        return
      }
    }

    {
      // eslint-disable-next-line no-undef
      const [result, error] = await currentQuestion(fetch, surveySegment, sessionToken)
      if (error !== null) {
        console.error(
          `Error at ${
            $page.path
          }, while retrieving current question (after answer): ${JSON.stringify(
            error,
            null,
            2,
          )}\n\n${JSON.stringify(result, null, 2)}`,
        )
        return
      }
      ({
        answer,
        askedQuestionId,
        language: currentLanguage,
        question,
        survey,
      } = result)
      value = answer === null ? null : answer.value
    }
  }
</script>

<svelte:head>
  <title>{$localize("Retruco_Quiz")}</title>
</svelte:head>

{#if question}
  <form on:submit|preventDefault={() => null}>
    <!-- The `each` loop is a work around to force Svelte to redraw a new widget
    instead of reusing the existing one. -->
    {#each [question] as dummyQuestion (dummyQuestion.path)}
      <svelte:component
        this={widget}
        {answer}
        on:replaceQuestionState={replaceQuestionState}
        on:skipQuestion={skipQuestion}
        on:submitAnswer={submitAnswer}
        {question}
        {sessionToken}
        {survey}
        {value} />
    {/each}
  </form>
{:else}
  <a
    href="embed/surveys/{survey.segment}?session={sessionToken}"
    rel="prefetch">
    {$localize("See_survey_on_one_page")}
  </a>
{/if}
