<script>
  import fetch from "cross-fetch"
  import { createEventDispatcher } from "svelte"

  import { stores } from "@sapper/app"
  import Autocomplete from "../Autocomplete.svelte"
  import {
    Autocompletion,
    AutocompletionWithDistance,
  } from "../../model/autocompletion"
  import { slugify } from "../../model/strings"
  import { validateArray } from "../../model/validators/core"
  import { validateJsonResponse } from "../../model/validators/responses"

  export let answer
  export let hideSkip = false
  export let hideSubmit = false
  export let question
  export let readOnly = false // TODO: handle flag.
  export let sessionToken
  export let survey
  export let value

  let autocompletionId = null
  let autocompletions = []
  let autocompletionText = null
  const dispatch = createEventDispatcher()
  const initialValue = value
  const { page /* , preloading, session */ } = stores()

  $: path = question.path

  $: autocompletionSlug =
    autocompletionText === null ? null : slugify(autocompletionText)

  async function autocomplete({ detail: term }) {
    autocompletionId = null
    autocompletionText = term
    dispatch("valueChanged", { initialValue, autocompletionId })
    const response = await fetch(
      `api/widgets/autocompletions?domain=${encodeURIComponent(
        question.domain,
      )}&q=${encodeURIComponent(term)}`,
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(
      validateAutocompleteResult,
    )(response)
    if (error !== null) {
      console.error(
        `Error at ${
          $page.path
        }, while retrieving autocompletions: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
      return
    }
    autocompletions = result.autocompletions
  }

  async function createAutocompletion() {
    const response = await fetch("api/widgets/autocompletions", {
      body: JSON.stringify(
        {
          domain: question.domain,
          sessionToken,
          text: autocompletionText,
        },
        null,
        2,
      ),
      credentials: "same-origin",
      headers: {
        "Content-Type": "application/json; charset=utf-8",
      },
      method: "POST",
    })
    const [result, error] = await validateJsonResponse(
      Autocompletion.validateJson,
    )(response)
    if (error !== null) {
      console.error(
        `Error at ${
          $page.path
        }, while creating autocompletion: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
      autocompletionId = null
      // editErrorCode = error.code
      // editErrorMessage = error.message
      // editErrors = { ...editErrors, ...error.details }
      dispatch("valueChanged", { initialValue, autocompletionId })
      return
    }
    autocompletionId = result.id
    // editErrorCode = null
    // editErrorMessage = null
    // editErrors = { ...editErrors }
    dispatch("valueChanged", { initialValue, autocompletionId })
  }

  function autocompletionSelected({ detail: item }) {
    autocompletionId = item.id
    autocompletionText = item.text
    dispatch("valueChanged", { initialValue, autocompletionId })
  }

  function validateAutocompleteResult(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object got "${typeof data}"`]
    }

    data = { ...data }
    const errors = {}
    const remainingKeys = new Set(Object.keys(data))

    {
      const key = "autocompletions"
      remainingKeys.delete(key)
      const [value, error] = validateArray(
        AutocompletionWithDistance.validateJson,
      )(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected item"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

<div>
  <label for="inputAutocompleteOrCreate_{path}">
    {#if question.isLabelHtml} {@html question.label}
    {:else}{question.label}{/if}
  </label>
  <div class="flex">
    <Autocomplete
      divClass="w-full"
      id="inputAutocompleteOrCreate_{path}"
      inputClass="appearance-none border focus:outline-none focus:shadow-outline
      leading-tight px-3 py-2 rounded shadow text-gray-700 w-full"
      items="{autocompletions}"
      on:input="{autocomplete}"
      on:select="{autocompletionSelected}"
      placeholder="Type first letters…"
    >
      <div class="notification">Loading suggestions…</div>
    </Autocomplete>
    {#if autocompletionId === null} {#if autocompletionSlug &&
    !autocompletions.some( autocompletion => autocompletion.slug ===
    autocompletionSlug, )}
    <button
      class="border border-red-600 hover:border-red-800 leading-tight ml-1
          px-3 py-2 rounded shadow text-red-600 hover:text-red-800"
      on:click="{createAutocompletion}"
      type="button"
    >
      Create « {autocompletionText} »
    </button>
    {/if} {:else}
    <span class="border leading-tight px-3 py-2 rounded shadow text-gray-700">
      {autocompletionId || ""}
    </span>
    {/if}
  </div>

  {#if !hideSkip}
  <button on:click="{() => dispatch('skipQuestion')}" type="button">
    Skip
  </button>
  {/if} {#if !readOnly && !hideSubmit}
  <button
    on:click="{() => dispatch('submitAnswer', autocompletionId)}"
    type="button"
  >
    OK
  </button>
  {/if}
</div>
