<script>
  import { createEventDispatcher } from "svelte"

  export let answer
  export let hideSkip = false
  export let hideSubmit = false
  export let question
  export let readOnly = false
  export let sessionToken
  export let survey
  export let value

  const dispatch = createEventDispatcher()
  const initialValue = value

  $: path = question.path
</script>

<div>
  <label for="inputDate_{path}"
    >{#if question.isLabelHtml}{@html
    question.label}{:else}{question.label}{/if}</label
  >
  <input
    bind:value
    id="inputDate_{path}"
    name="{path}"
    on:input="{() => dispatch('valueChanged', { initialValue, value})}"
    readonly="{readOnly}"
    type="date"
  />

  {#if !hideSkip}
  <button on:click="{() => dispatch('skipQuestion')}" type="button">
    Skip
  </button>
  {/if} {#if !readOnly && !hideSubmit}
  <button on:click="{() => dispatch('submitAnswer', value)}" type="button">
    OK
  </button>
  {/if}
</div>
