<script>
  import { createEventDispatcher } from "svelte"

  export let answer
  export let hideSkip = false
  export let hideSubmit = false
  export let question
  export let readOnly = false
  export let sessionToken
  export let survey
  export let value

  const dispatch = createEventDispatcher()
  const initialValue = value

  $: path = question.path
</script>

<fieldset>
  <legend>
    {#if question.isLabelHtml}{@html question.label}{:else}{question.label}{/if}
  </legend>
  {#each question.choices as choice, index}
  <input
    bind:group="{value}"
    disabled="{readOnly}"
    id="radio_button_{path}_{index}"
    on:change="{() => dispatch('valueChanged', { initialValue, value: choice.value})}"
    readonly="{readOnly}"
    type="radio"
    value="{choice.value}"
  />
  <label for="radio_button_{path}_{index}">{choice.label}</label>
  {/each} {#if !hideSkip}
  <button on:click="{() => dispatch('skipQuestion')}" type="button">
    Skip
  </button>
  {/if} {#if !readOnly && !hideSubmit}
  <button on:click="{() => dispatch('submitAnswer', value)}" type="button">
    OK
  </button>
  {/if}
</fieldset>
