<script>
  import { localize } from "../../../stores"
</script>

<svelte:head>
  <title>{$localize("About")} | {$localize("Retruco_Quiz")}</title>
</svelte:head>

<h1>{$localize("About_site")}</h1>

<p>This is the 'about' page. There's not much here.</p>
