<script context="module">
  import { Client } from "../../../../model/client"
  import { validateArray } from "../../../../model/validators/core"
  import { validateJsonResponse } from "../../../../model/validators/responses"
  import { language, localize } from "../../../../stores"

  export async function preload(page /* , session */) {
    const response = await this.fetch("api/clients", {
      credentials: "same-origin",
    })
    const [result, error] = await validateJsonResponse(validateClientsResult)(
      response,
    )
    if (error != null) {
      return this.error(
        `Error at ${page.path}, while retrieving clients: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    return { clients: result.clients }
  }

  function validateClientsResult(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object got "${typeof data}"`]
    }

    data = { ...data }
    const errors = {}
    const remainingKeys = new Set(Object.keys(data))

    {
      const key = "clients"
      remainingKeys.delete(key)
      const [value, error] = validateArray(Client.validateJson)(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected item"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

<script>
  export let clients
</script>

<svelte:head>
  <title>{$localize("Clients")} | {$localize("Retruco_Quiz")}</title>
</svelte:head>

<h1>{$localize("Clients")}</h1>

{#if clients}
  <ul>
    {#each clients as client}
      <li>
        <a href="presentation/{$language}/clients/{client.segment}" rel="prefetch">
           {client.name}
        </a>
      </li>
    {/each}
  </ul>
{/if}
