<script context="module">
  import { Survey } from "../../../../model/survey"
  import { validateArray } from "../../../../model/validators/core"
  import { validateJsonResponse } from "../../../../model/validators/responses"
  import { language, localize } from "../../../../stores"


  export async function preload(page /* , session */) {
    const response = await this.fetch("api/surveys", {
      credentials: "same-origin",
    })
    const [result, error] = await validateJsonResponse(validateSurveysResult)(
      response,
    )
    if (error != null) {
      return this.error(
        `Error at ${page.path}, while retrieving surveys: ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    return { surveys: result.surveys }
  }

  function validateSurveysResult(data) {
    if (data === null || data === undefined) {
      return [data, "Missing value"]
    }
    if (typeof data !== "object") {
      return [data, `Expected an object got "${typeof data}"`]
    }

    data = { ...data }
    const errors = {}
    const remainingKeys = new Set(Object.keys(data))

    {
      const key = "surveys"
      remainingKeys.delete(key)
      const [value, error] = validateArray(Survey.validateJson)(data[key])
      data[key] = value
      if (error !== null) {
        errors[key] = error
      }
    }

    for (let key of remainingKeys) {
      errors[key] = "Unexpected item"
    }
    return [data, Object.keys(errors).length === 0 ? null : errors]
  }
</script>

<script>
  export let surveys
</script>

<svelte:head>
  <title>{$localize("Surveys")} | {$localize("Retruco_Quiz")}</title>
</svelte:head>

<h1>{$localize("Surveys")}</h1>

{#if surveys}
  <ul>
    {#each surveys as survey}
      <li>
        <a href="presentation/{$language}/surveys/{survey.segment}" rel="prefetch">
           {survey.name}
        </a>
      </li>
    {/each}
  </ul>
{/if}
